<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianshi/attack1_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1169},{201,113}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{201,113}}</string>
                <key>sourceSize</key>
                <string>{201,159}</string>
            </dict>
            <key>jianshi/attack1_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1220},{205,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{205,156}}</string>
                <key>sourceSize</key>
                <string>{207,160}</string>
            </dict>
            <key>jianshi/attack1_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,293},{346,342}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{346,342}}</string>
                <key>sourceSize</key>
                <string>{400,380}</string>
            </dict>
            <key>jianshi/attack1_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,320},{346,342}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{346,342}}</string>
                <key>sourceSize</key>
                <string>{400,380}</string>
            </dict>
            <key>jianshi/attack1_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,864},{330,307}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{330,307}}</string>
                <key>sourceSize</key>
                <string>{364,331}</string>
            </dict>
            <key>jianshi/attack1_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{330,307}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{330,307}}</string>
                <key>sourceSize</key>
                <string>{348,331}</string>
            </dict>
            <key>jianshi/attack1_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,319},{330,247}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{330,247}}</string>
                <key>sourceSize</key>
                <string>{344,271}</string>
            </dict>
            <key>jianshi/attack2_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1642},{203,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,174}}</string>
                <key>sourceSize</key>
                <string>{203,174}</string>
            </dict>
            <key>jianshi/attack2_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1693},{127,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,239}}</string>
                <key>sourceSize</key>
                <string>{127,239}</string>
            </dict>
            <key>jianshi/attack2_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,637},{286,207}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{286,207}}</string>
                <key>sourceSize</key>
                <string>{308,215}</string>
            </dict>
            <key>jianshi/attack2_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,664},{293,192}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{293,192}}</string>
                <key>sourceSize</key>
                <string>{383,250}</string>
            </dict>
            <key>jianshi/attack2_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1699},{290,138}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{290,138}}</string>
                <key>sourceSize</key>
                <string>{336,214}</string>
            </dict>
            <key>jianshi/attack2_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,846},{290,139}}</string>
                <key>offset</key>
                <string>{-57,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,101},{290,139}}</string>
                <key>sourceSize</key>
                <string>{404,257}</string>
            </dict>
            <key>jianshi/attack2_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1569},{248,128}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{248,128}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>jianshi/attack2_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1587},{224,104}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{224,104}}</string>
                <key>sourceSize</key>
                <string>{224,164}</string>
            </dict>
            <key>jianshi/attack3_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1900},{120,136}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{120,136}}</string>
                <key>sourceSize</key>
                <string>{122,162}</string>
            </dict>
            <key>jianshi/attack3_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1725},{191,128}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{191,128}}</string>
                <key>sourceSize</key>
                <string>{197,132}</string>
            </dict>
            <key>jianshi/attack3_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1927},{165,114}}</string>
                <key>offset</key>
                <string>{-95,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,122},{165,114}}</string>
                <key>sourceSize</key>
                <string>{391,236}</string>
            </dict>
            <key>jianshi/attack3_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,987},{201,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,180}}</string>
                <key>sourceSize</key>
                <string>{201,180}</string>
            </dict>
            <key>jianshi/attack3_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{374,289}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,19},{374,289}}</string>
                <key>sourceSize</key>
                <string>{592,329}</string>
            </dict>
            <key>jianshi/attack3_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{374,289}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,32},{374,289}}</string>
                <key>sourceSize</key>
                <string>{508,335}</string>
            </dict>
            <key>jianshi/attack3_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,415},{355,277}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{355,277}}</string>
                <key>sourceSize</key>
                <string>{429,309}</string>
            </dict>
            <key>jianshi/attack3_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,858},{306,273}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,44},{306,273}}</string>
                <key>sourceSize</key>
                <string>{350,317}</string>
            </dict>
            <key>jianshi/attack_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1562},{204,162}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{230,164}</string>
            </dict>
            <key>jianshi/attack_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,994},{300,223}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{300,223}}</string>
                <key>sourceSize</key>
                <string>{362,305}</string>
            </dict>
            <key>jianshi/attack_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,295},{296,210}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{296,210}}</string>
                <key>sourceSize</key>
                <string>{332,242}</string>
            </dict>
            <key>jianshi/attack_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{291,182}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{291,182}}</string>
                <key>sourceSize</key>
                <string>{339,208}</string>
            </dict>
            <key>jianshi/attack_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1166},{265,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{265,102}}</string>
                <key>sourceSize</key>
                <string>{265,118}</string>
            </dict>
            <key>jianshi/floatDown_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1628},{137,181}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{137,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>jianshi/floatDown_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1700},{132,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{132,206}}</string>
                <key>sourceSize</key>
                <string>{138,206}</string>
            </dict>
            <key>jianshi/floatFall_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1576},{184,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,147}}</string>
                <key>sourceSize</key>
                <string>{184,147}</string>
            </dict>
            <key>jianshi/floatFall_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,994},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>jianshi/floatFall_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1003},{226,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,60}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>jianshi/floatUp_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1918},{136,125}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,125}}</string>
                <key>sourceSize</key>
                <string>{142,127}</string>
            </dict>
            <key>jianshi/hurt_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1767},{179,131}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{179,131}}</string>
                <key>sourceSize</key>
                <string>{179,157}</string>
            </dict>
            <key>jianshi/hurt_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1847},{198,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,147}}</string>
                <key>sourceSize</key>
                <string>{198,147}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,651},{181,211}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,211}}</string>
                <key>sourceSize</key>
                <string>{207,213}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1196},{111,296}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,296}}</string>
                <key>sourceSize</key>
                <string>{131,300}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,315}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,61},{378,315}}</string>
                <key>sourceSize</key>
                <string>{438,497}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{372,316}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{372,316}}</string>
                <key>sourceSize</key>
                <string>{448,426}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,694},{306,298}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{306,298}}</string>
                <key>sourceSize</key>
                <string>{350,344}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1309},{294,258}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{294,258}}</string>
                <key>sourceSize</key>
                <string>{356,294}</string>
            </dict>
            <key>jianshi/jumpAttack_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,593},{218,120}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,140}</string>
            </dict>
            <key>jianshi/jumpDown_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1270},{257,146}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,146}}</string>
                <key>sourceSize</key>
                <string>{257,156}</string>
            </dict>
            <key>jianshi/jumpDown_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,694},{141,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,292}}</string>
                <key>sourceSize</key>
                <string>{141,292}</string>
            </dict>
            <key>jianshi/jumpUp_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1418},{225,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,167}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>jianshi/jumpUp_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1219},{258,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,156}}</string>
                <key>sourceSize</key>
                <string>{258,156}</string>
            </dict>
            <key>jianshi/stand_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1539},{214,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,159}}</string>
                <key>sourceSize</key>
                <string>{214,165}</string>
            </dict>
            <key>jianshi/stand_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1284},{215,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,165}</string>
            </dict>
            <key>jianshi/stand_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1378},{215,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,165}</string>
            </dict>
            <key>jianshi/stand_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1164},{215,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,165}</string>
            </dict>
            <key>jianshi/stand_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1003},{215,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,165}</string>
            </dict>
            <key>jianshi/stand_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,842},{215,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,165}</string>
            </dict>
            <key>jianshi/upwith_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1932},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>jianshi/upwith_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,664},{191,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,100}}</string>
                <key>sourceSize</key>
                <string>{191,100}</string>
            </dict>
            <key>jianshi/upwith_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1726},{199,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,114}}</string>
                <key>sourceSize</key>
                <string>{199,114}</string>
            </dict>
            <key>jianshi/walkAttack_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1451},{175,130}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{175,130}}</string>
                <key>sourceSize</key>
                <string>{183,148}</string>
            </dict>
            <key>jianshi/walkAttack_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1325},{215,124}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{215,124}}</string>
                <key>sourceSize</key>
                <string>{225,148}</string>
            </dict>
            <key>jianshi/walkAttack_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{572,120}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,74},{572,120}}</string>
                <key>sourceSize</key>
                <string>{574,196}</string>
            </dict>
            <key>jianshi/walkAttack_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{400,120}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{400,120}}</string>
                <key>sourceSize</key>
                <string>{408,148}</string>
            </dict>
            <key>jianshi/walkAttack_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{407,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,73},{407,121}}</string>
                <key>sourceSize</key>
                <string>{483,277}</string>
            </dict>
            <key>jianshi/walkAttack_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,293},{372,120}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{372,120}}</string>
                <key>sourceSize</key>
                <string>{386,148}</string>
            </dict>
            <key>jianshi/walk_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1834},{211,126}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{211,126}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>jianshi/walk_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1847},{198,122}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{198,122}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>jianshi/walk_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1726},{204,127}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{204,127}}</string>
                <key>sourceSize</key>
                <string>{204,141}</string>
            </dict>
            <key>jianshi/walk_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1445},{215,115}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{215,115}}</string>
                <key>sourceSize</key>
                <string>{215,139}</string>
            </dict>
            <key>jianshi/walk_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,715},{226,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{226,125}}</string>
                <key>sourceSize</key>
                <string>{226,139}</string>
            </dict>
            <key>jianshi/walk_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1377},{233,130}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{233,130}}</string>
                <key>sourceSize</key>
                <string>{233,142}</string>
            </dict>
            <key>jianshi/walk_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1693},{244,124}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{244,124}}</string>
                <key>sourceSize</key>
                <string>{244,142}</string>
            </dict>
            <key>jianshi/walk_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1509},{232,131}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{232,131}}</string>
                <key>sourceSize</key>
                <string>{232,141}</string>
            </dict>
            <key>jianshi/walk_d2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,988},{222,117}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{222,117}}</string>
                <key>sourceSize</key>
                <string>{222,139}</string>
            </dict>
            <key>jianshi/walk_d2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1451},{215,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{215,123}}</string>
                <key>sourceSize</key>
                <string>{215,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianshi.pvr.ccz</string>
            <key>size</key>
            <string>{1700,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba759e997bac02e952171c66bfbb46c1$</string>
            <key>textureFileName</key>
            <string>jianshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
